{% extends 'book/doctors/doctor-base.html' %}
{% block title %}Doctor dashboard{% endblock title %}
{% block content %}
{% load static %}
<body>
	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<h2 class="breadcrumb-title">Nouvelle Prescription</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		<!-- Page Content -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
						<!-- Profile Widget -->
						<div class="card widget-profile pat-widget-profile">
							<div class="card-body">
								<div class="pro-widget-content">
									<div class="profile-info-widget">
										<div class="profile-det-info">
											<h3><a href="#">{{patient.first_name}} {{patient.last_name}}</a></h3>
											<div class="patient-details">
												<h5 class="mb-0">
													<i class="fas fa-map-marker-alt"></i>
													{{ patient.address }}
												</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="patient-info">
									<ul>
										<li>Numéro de téléphone <span>{{patient.phone_number}}</span></li>
										<li>Date de naissance <span>{{patient.date_of_bird}}</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-7 col-lg-8 col-xl-9">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title mb-0">Nouvelle Prescription</h4>
							</div>
							<div class="card-body">
								<!-- Prescription Item -->
								<form action="#" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="card card-table" >
										<div class="card-body" style="margin:25px">
											<h4 class="card-title"><b>Médicaments</b></h4>
											<div class="medicine-info">
												<div class="row form-row medicine-cont">
													<div class="col-12 col-md-10 col-lg-11">
														<div class="row form-row">
															<div class="col-12 col-md-6 col-lg-3">
																<div class="form-group" >
																	<label >Nom du médicament</label>
																	<input type="text" class="form-control" name="medicine_name" id="medicine_name">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<label>Quantité</label>
																	<input type="text" class="form-control" name="quantity" id="quantity">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-3">
																<div class="form-group">
																	<label>Fréquence</label>
																	<input type="text" class="form-control" name="frequency" id="frequency">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-3">
																<div class="form-group" >
																	<label >Date du Début de Traitement</label>
																	<input type="text" class="form-control" name="start_day" id="start_day">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-3">
																<div class="form-group" >
																	<label >Date Fin de Traitement</label>
																	<input type="text" class="form-control" name="end_day" id="end_day">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-6">
																<div class="form-group">
																	<label>Instruction</label>
																	<input type="text" class="form-control" name="instruction" id="instruction">
																</div>
															</div>
														</div>
													</div>
													<div class="col-12 col-md-2 col-lg-1">
														<label class="d-md-block d-sm-none d-none">&nbsp;</label>
														<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
													</div>
												</div>
											</div>
											<div class="add-more">
												<a href="javascript:void(0);" class="add-medicine"><i class="fa fa-plus-circle"></i> Ajouter médicament</a>
											</div>
										</div>
									</div>
									<!-- Prescription Item -->
									<!-- tests Item -->
									<div class="card card-table">
										<div class="card-body" style="margin:25px">
											<h4 class="card-title"><b>Tests</b></h4>
											<div class="test-info">
												<div class="row form-row test-cont">
													<div class="col-12 col-md-10 col-lg-11">
														<div class="row form-row">
															<div class="col-12 col-md-5 col-lg-5">
																<div class="form-group">
																	<label>Nom du test</label>
																	<input type="text" class="form-control" name="test_name" id="test_name">
																</div>
															</div>
															<div class="col-12 col-md-6 col-lg-6">
																<div class="form-group">
																	<label>Description</label>
																	<input type="text" class="form-control" name="description" id="description">
																</div>
															</div>
														</div>
													</div>
													<div class="col-12 col-md-2 col-lg-1">
														<label class="d-md-block d-sm-none d-none">&nbsp;</label>
														<a href="#" class="btn btn-danger trash"><i class="far fa-trash-alt"></i></a>
													</div>
												</div>
											</div>
											<div class="add-more">
												<a href="javascript:void(0);" class="add-test"><i class="fa fa-plus-circle"></i>Ajouter test</a>
											</div>
										</div>
										<div class="card card-table">
											<div class="card-body">
												<div class="table-responsive">
													<table class="table table-hover table-center">
														<thead>
															<tr>
																<th >
																	Avis
																</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>
																	<input class="form-control" type="text" name="extra_information" id="extra_information" >
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
											<!-- /extra Item -->
											<div class="row">
												<div class="col-md-12">
													<div class="submit-section">
														<button type="submit" class="btn btn-primary submit-btn">Valider</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<!-- /Page Content -->
							</div>
							<!-- /Main Wrapper -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
 {% endblock content %}