{% load static %}

<div class="profile-sidebar">
  <div class="widget-profile pro-widget-content">
    <div class="profile-info-widget">

      <div class="profile-det-info">


        <div class="patient-details">
          <h3 class="mb-0">{{doctor.first_name}} {{doctor.last_name}}</h3>
          <h5 class="mb-0">{{doctor.specialization.specialization_name}}</h5>

        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget">
    <nav class="dashboard-menu sidebar">
      <ul>
        <li class="active">
          <a href="{% url 'doctor-dashboard' %}" class="nav-link">
            <i class="fas fa-columns"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="{% url 'doctor-profile-settings' %}" class="nav-link"> <i class="fas fa-user-cog"></i> <span>Mon profile</span></a>
        </li>

        <li>
          <a href="{% url 'logout'%}" class="nav-link"><i class="fas fa-sign-out-alt"> </i> <span>Déconnexion</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
