<!-- book/secretary/secretary_list.html -->

<h1>Liste des patients</h1>

<h2>Patients dont le rendez-vous commence aujourd'hui :</h2>
<ul>
  {% for patient in start_patients %}
    <li><a href="{% url 'patient-profile' pk=patient.patient_id %}">{{ patient.first_name }} {{ patient.last_name }}</a></li>
  {% empty %}
    <li>Aucun patient dont le rendez-vous commence aujourd'hui.</li>
  {% endfor %}
</ul>

<h2>Patients dont le rendez-vous se termine aujourd'hui :</h2>
<ul>
  {% for patient in end_patients %}
    <li><a href="{% url 'patient-profile' pk=patient.patient_id %}">{{ patient.first_name }} {{ patient.last_name }}</a></li>
  {% empty %}
    <li>Aucun patient dont le rendez-vous se termine aujourd'hui.</li>
  {% endfor %}


</ul>