{% extends 'book/base.html' %}

{% load static %}

{% block title %}Patient Setting{% endblock title %}

{% block content %}


<head>
  <style>
    /* Style pour la fenêtre modale */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 400px;
      text-align: center;
    }
  </style>

<body>

<div id="myModal" class="modal">
    <div class="modal-content">
      <p id="modal-message"></p>
      <button id="modal-close" style="background-color:#32DFFF;color:white">OK</button>
    </div>
</div>

<!-- Main Wrapper -->
<div class="main-wrapper">

  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <h2 class="breadcrumb-title">Modifier profile</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- /Breadcrumb -->

  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Profile Sidebar -->
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
          <div>{% include 'book/patient/patient-sidebar.html' %}</div>
        </div>
        <!-- /Profile Sidebar -->

        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <!-- Profile Settings Form -->
                    <form action="{% url 'profile-settings' %}" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="row form-row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" value="{{ patient.last_name }}" name="last_name">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Prénom</label>
                                    <input type="text" class="form-control" value="{{patient.first_name}}" name="first_name">
                                </div>

                            </div>



                            <div class="col-12 col-md-6">
                                <div class="form-group">

                                    <label>Date de naissance</label>
                                    <input type="date" class="form-control datetimepicker" value="{{patient.date_of_birth|date:'Y-m-d'}}" name="date_of_birth" placeholder="ex: 01/01/2000">

                                </div>
                            </div>


                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" value="{{patient.phone_number}}" class="form-control" name="phone_number">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input type="text" class="form-control" value="{{patient.address}}" name="address">
                                </div>
                            </div>

                            <div class="col-12 col-md-6">

                                <div class="form-group">
                                  <label>Email <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control"  value="{{user.email}}" >
                                </div>

                            </div>


                        </div>


                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary submit-btn">Sauvegarder</button>
                        </div>
                    </form>
                                <!-- /Profile Settings Form -->

                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Page Content -->


</div>


<script>
    // Afficher la fenêtre modale avec le message donné
    function showModal(message) {
      var modal = document.getElementById("myModal");
      var messageElement = document.getElementById("modal-message");
      messageElement.innerText = message;
      modal.style.display = "block";
    }

    // Fermer la fenêtre modale en cliquant sur le bouton "OK"
    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    // Vérifier si le profil du patient est incomplet
    {% if not patient.first_name or not patient.last_name or not patient.date_of_birth or not patient.phone_number or not patient.address %}
      // Afficher le message dans la fenêtre modale
      var message = "Veuillez compléter votre profil avant de résérver votre séjour.";
      showModal(message);

      // Ajouter un gestionnaire d'événements au bouton "OK"
      var closeButton = document.getElementById("modal-close");
      closeButton.addEventListener("click", closeModal);
    {% endif %}
  </script>


</body>

{% endblock content %}