{% extends 'book/administration/admin-base.html' %}
{% load static %}

{% block title %}Modifier le mot de passe{% endblock title %}

{% block content %}

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid center">
                <!-- Form -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <h3 class="card-title text-center mb-4">Modifier le mot de passe</h3>
                                    <form method="post" novalidate>
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="new_password1">Nouveau mot de passe</label>
                                            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="new_password2">Confirmer le nouveau mot de passe</label>
                                            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn" style="background-color: #32DFFF; color: white;">Changer le mot de passe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Form -->
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
{% endblock content %}