{% extends 'book/administration/admin-base.html' %}
{% load static %}

{% block title %}Liste des Secrétaires{% endblock %}

{% block content %}
<body>
    <div class="main-wrapper">
        <header class="header">
            {% include 'book/administration/hospital-admin-navbar.html' %}
        </header>

        <aside class="sidebar" id="sidebar">
            {% include 'book/administration/hospital-admin-sidebar.html' %}
        </aside>

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Liste des Secrétaires</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Prénom</th>
                                                <th>Nom</th>
                                                <th>Date de naissance</th>
                                                <th>Numéro de téléphone</th>
                                                <th>Adresse</th>
                                                <th>Nom de l'hôpital</th>
                                                <th>Actions</th>
                                                <th>Supprimer Docteur</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for secretary in secretaries %}
                                            {% with modal_id=forloop.counter0 %}
                                            <tr>
                                                <td>{{ secretary.first_name }}</td>
                                                <td>{{ secretary.last_name }}</td>
                                                <td>{{ secretary.date_of_birth }}</td>
                                                <td>{{ secretary.phone_number }}</td>
                                                <td>{{ secretary.address }}</td>
                                                <td>{{ secretary.hospital_name.name }}</td>
                                                <td>
                                                    <div class="table-action">
                                                        <a href="{% url 'edit-secretary' secretary_id=secretary.pk %}" class="btn btn-sm" style="background-color: #32DFFF; color: white;">
                                                            <i class="fas fa-edit"></i> Modifier
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="table-action">
                                                        {% if secretary.secretary_id %}
                                                            <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-{{ secretary.secretary_id }}-{{ modal_id }}">
                                                                <i class="fas fa-trash"></i> Supprimer
                                                            </a>
                                                        {% else %}
                                                            <span class="text-danger">ID manquant</span>
                                                        {% endif %}
                                                   </div>
                                                </td>
                                            </tr>

                                            <!-- Modal -->
                                            <div class="modal fade" id="deleteModal-{{ secretary.secretary_id }}-{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" style="width: auto;max-width: 600px;" role="document">
                                                    <div class="modal-content" >
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" >
                                                            Êtes-vous sûr de vouloir supprimer la secretaire {{ secretary.first_name }} {{ secretary.last_name }} ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                            <form action="{% url 'delete-secretary' secretary.secretary_id %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endwith %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}